@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.column {
  position: absolute;
  width: 50%;
  height: auto;
}

.column-left {
  background-image: url(hanzoh1.github.io/daniel-roe-lpjb_UMOyx8-unsplash.jpg)
    no-repeat top center;
  background-size: cover;
  left: 0;
}

.column-right {
  right: 0;
  overflow-y: scroll;
}

.profile-frame {
  width: auto;
  margin: auto;
  text-align: center;
  font-family: avenir;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.title {
  color: gray;
  font-size: 18px;
}

.ens {
  color: #ff8c00;
  background: -webkit-linear-gradient(0deg, #40e0d0, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile {
  color: midnightblue;
  font-size: 16px;
}

.icon {
  margin: 5px;
}
