@charset "utf-8";

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  height: 100vh;
}

.half-screen {
  height: 100vh;
  width: 50%;
}

.colmun-left {
  left: 0;
  top: 0;
  background-color: #2b2b2b;
  opacity: 0.8;
}

.name {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: trnaslate(-30%, -25%);
}

.profile-pic {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -25%);
}

.colmun-right {
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.profile-frame {
  width: auto;
  margin: auto;
  text-align: center;
  font-family: avenir;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.title {
  color: gray;
  font-size: 18px;
}

.ens {
  color: #ff8c00;
  background: -webkit-linear-gradient(0deg, #40e0d0, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile {
  color: midnightblue;
  font-size: 16px;
}

.icon {
  margin: 5px;
}
