@charset "utf-8";

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  height: 100vh;
  background: none;
  position: relative;
}

.half-screen {
  height: 100vh;
  width: 50%;
}

.column-left {
  background-color: #2b2b2b;
  opacity: 0.05;
  z-index: 2;
  position: relative;
}

.background-img {
  background-image: url("https://hanzoh1.github.io/background-img.jpg");
  background-size: cover;
  width:960px;
  height:auto;
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.name {
  position: absolute;
  bottom: 30%;
  left:50%
  transform: trnaslate(-30%, -50%);
}

.column-right {
  background-color: #ffffff;
}

.profile-frame {
  width: auto;
  margin: auto;
  text-align: center;
  font-family: avenir;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.title {
  color: gray;
  font-size: 18px;
}

.ens {
  color: #ff8c00;
  background: -webkit-linear-gradient(0deg, #40e0d0, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile {
  color: midnightblue;
  font-size: 16px;
}

.icon {
  margin: 5px;
}